version: '3'

services:
  rabbit:
    image: rabbitmq:3-management-alpine
    ports:
      - 8888:15672
      - 5672:5672
    hostname: ticktok-rabbit

  mongo:
    image: mongo:3.6
    command: --storageEngine ephemeralForTest
    ports:
      - 27017:27017
