# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: rabbitmq:3.7
      - image: mongo:3.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
      APP: ticktok
      #GIT_VERSION: `git describe --tags --abbrev=0`
      #SHORT_COMMIT_ID: `git rev-parse --short HEAD`

    steps:
      - checkout
      - setup_remote_docker

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      # run tests!
      - run: ./gradlew build

      - run:
          name: Build application Docker image
          command: docker build -t app .

      - run:
          name: Setup heroku
          command: .circleci/heroku_setup.sh

      - deploy:
          name: Deploy ticktok server
          timeout: 5s
          command: |
            .circleci/deploy_to_heroku.sh
            .circleci/publish_to_dockerhub.sh:

      - run:
          name: Health check
          command: .circleci/check_health.sh
          no_output_timeout: 40s


