.container {
    margin: 0;
    width: 100%;
    max-width: unset;
    padding: 0;
}

.nav {
    display:table;
    width:100%;
    margin: 0;
}

nav h4 {
    color: #BDBDBD;
}

.form-inline {
    margin-top: 30px;
    justify-content: center;
}


input {
    width: 100%;
}

.main {
    width: 80%;
    margin: auto;
}

form {
    margin-top: 30px;
}

textarea {
    width: 100%;
    height: 500px;
}
