.container {
    margin: 0;
    width: 100%;
    max-width: unset;
    padding: 0;
}

body {
    font-family: "Rubik", "sans-serif";
}

.nav {
    display: table;
    width: 100%;
    margin: 0;
    vertical-align: middle;
    padding: 10px;
}

nav h4 {
    font-family: Quicksand, sans-serif;
    color: #ededed;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-left: 20px
}

.navbar {
    background-color: #0d466c !important;
    padding: 12px;
}

.form-inline {
    margin-top: 30px;
    justify-content: center;
}


.main {
    width: 80%;
    margin: auto;
}

.table {
    margin-top: 30px
}

.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0;
    font-weight: 600;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 0
}

.table tr > td {
    font-weight: 400;
    border-left-width: 0;
    border-right-width: 0;
}

.clock-row.paused {
    font-style: italic;
    color: darkgray;
}

th.actions {
    width: 30%;
}

.noClocksMsg {
    font-style: italic;
    color: #BDBDBD;
    text-align: center;
    margin: 60px;
}

.clockActions {
    width: 100%
}

.clockActions button {
    margin-left: 6px;
    margin-right: 6px;
    width: 100%;
}

.clockActions .btn-outline-primary {
    color: #328CC1
}

.clockActions .btn-outline-danger {
    color: #a31f1e
}

.clockActions .btn-outline-success {
    color: #2c8a65
}



