.container {
    margin: 0;
    width: 100%;
    max-width: unset;
    padding: 0;
}

.nav {
    display:table;
    width:100%;
    margin: 0;
}

nav h4 {
    color: #BDBDBD;
}

.form-inline {
    margin-top: 30px;
    justify-content: center;
}


.main {
    width: 80%;
    margin: auto;
}

.table {
    margin-top: 30px
}

.table .btn {
    width: 100%;
}

.table td {
    vertical-align: middle;
}

.clock-row.paused {
    font-style: italic;
    color: darkgray;
}

th.actions {
    width: 15%;
}

.noClocksMsg {
    font-style: italic;
    color: #BDBDBD;
    text-align: center;
    margin: 60px;
}


